:root {
    --primary-color: rgb(79, 79, 79);
    --secondary-color: rgb(234, 248, 200, 0.9);
    --background-color:  rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://source.unsplash.com/1600x900/?weather");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: var(--primary-color);
    font-size: 50px;
}

h2{
    color: var(--primary-color);
    font-size: 60px;
}
p{
    text-transform: capitalize;
    color: var(--primary-color);

}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

main {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-width: 400px;
    padding: 4%;
    border-radius: 30px;
}

.search-box {
    display: flex;
    justify-content: space-around;
    column-gap: 4%;
}

.city-input{
    flex: 1;
    background: var(--background-color);
    border-radius: 50px;
    padding: 5%;
    transition: 0.3s;
    border: 4px solid transparent;
}

.city-input:hover, .city-input:focus{
    border: 4px solid var(--secondary-color);
    box-shadow: 0 1px 3px var(--primary-color);
}
.search-btn{
    color: var(--background-color);
    background: var(--primary-color);
    padding: 2% 6%;;
    font-size: large;
    font-weight: 800;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.search-btn:hover{
    color: var(--primary-color);
    background: var(--background-color);
}

.result{
    display: none;
    padding: 10px;
    transition: 0.5s;
}

.icon{
    width: 25%;
}

.temp-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.max-min-temp{
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 25%;
    font-size: 12px;
}

@media only screen and (max-width:700px) {
    main{
    }

    .icon{
        width: 45%;
    }

    .result{
        height: auto;
        
    }
}


